{% extends 'base.html.twig' %}

{% block title %}
Gestionnaire d'hôtels Hb-HotelManager
{% endblock %}

{% block content %}

    <div class="text-center">
        <h1>Bienvenue sur votre gestionnaire d'hotel HB Hotel Manager !</h1>
    </div>

    <hr>

    <div class="card text-center mb-3">
        <div class="card-header">
            <strong>Actions</strong>
        </div>
        <div class="card-body">
            <a href="{{ env.base_path ~ '/clients/new/'}}" class="btn btn-primary">
                Créer un nouveau client
            </a>

            <a href="{{ env.base_path ~ '/rooms/new/'}}" class="btn btn-secondary">
                Créer une nouvelle chambre
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center"><strong>Liste des chambres</strong></div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro de chambre</th>
                        <th>Réservation</th>
                        <th>Occupation</th>
                        <th>Date de départ du client</th>
                        <th>Date d'arrivée du prochain client</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{room.number}}</td>
                            <td>
                                {% if room.clientId %}
                                    <span class="badge badge-warning">Réservée par {{ room.client.firstname }} {{ room.client.lastname }}</span>
                                {% else %}
                                    <span class="badge badge-secondary">Non réservée</span>
                                {% endif %}
                            </td>
                            <td>
                                {# Si la date d'entrée est passée, et que la date de départ est future, alors on dit "réservée par..." #}
                                {% if room.clientId and room.client.entryDate < date()|date('Y-m-d') and room.client.departureDate > date()|date('Y-m-d') %}
                                    <span class="badge badge-danger">Occupée par {{ room.client.firstname }} {{ room.client.lastname }}</span>
                                {% else %}
                                    <span class="badge badge-success">Libre</span>
                                {% endif %}
                            </td>
                            <td>
                                {# Si la date d'entrée est passée, et que la date de départ est future, alors on dit "départ prévu le..." #}
                                {% if room.clientId and room.client.entryDate < date()|date('Y-m-d') and room.client.departureDate > date()|date('Y-m-d') %}
                                    Départ prévu le {{ room.client.entryDate | date('d/m/Y') }}
                                {% endif %}
                            </td>
                            <td>
                                {# Si la date d'entrée est future, et que la date de départ est future aussi, alors on dit "arrivée prévue le..." #}
                                {% if room.clientId and room.client.entryDate > date()|date('Y-m-d') %}
                                    Arrivée prévue le {{ room.client.entryDate | date('d/m/Y') }}
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{{ env.base_path ~ '/rooms/' ~ room.id }}">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}